.card {
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
  width: 25vw;
  aspect-ratio: 1.7;
}
@media screen and (max-width: 1024px) {
  .card {
    width: 35vw;
    aspect-ratio: 1.3;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 80vw;
    aspect-ratio: 2;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0px !important;
  width: 100%;
  overflow-y: auto;
  aspect-ratio: 2;
}
.card-body > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-indent: 2rem;
  overflow: hidden;
}

#cardOverlay .card-text {
  max-height: 80vh;
  overflow-y: auto;
}
#cardOverlay .card-body > p {
  -webkit-line-clamp: unset;
  height: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  min-height: 100%;
  width: 100%;

  gap: 20px;
}

.card-body > .btn {
  margin-top: auto;
  width: fit-content;
  margin-left: auto;
}

/* overlay background */
#cardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex; /* flex to center */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent overlay */
  z-index: 1050;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#cardOverlay.active {
  opacity: 1;
}

#cardOverlay .card {
  display: flex;
  flex-direction: column;
  width: 40vw; /* bigger than container cards */
  max-width: 700px;
  height: fit-content;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

#cardOverlay.active .card {
  transform: scale(1);
}

#cardOverlay .card button {
  margin-top: auto !important;
  margin-left: auto;
}

#cardOverlay .card-title {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1em;
}

/* Responsive like your normal cards */
@media (max-width: 1024px) {
  #cardOverlay .card {
    width: 60vw;
  }
}

@media (max-width: 768px) {
  #cardOverlay .card {
    width: 90vw;
  }
}


.bottomImg {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  width: 100vw;
  height: 25vh;
}
.bottomImg > img {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(5%, 25%);
  width: 25vw;
  height: auto;
  opacity: 0.9;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

@media screen and (orientation: portrait) {
  .bottomImg {
    display: none;
  }
}