
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* vars */

:root {
  --bs-border-radius: 20px;
  --bs-font-sans-serif: "Lexend", system-ui, -apple-system, "Segoe UI",
    sans-serif;

  --primary: #339961;
}

/* Templating and fixes */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
}

section {
  margin-bottom: 10vh;
}

.navbar {
  z-index: 100 !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  section {
    margin-bottom: 5vh;
    padding: 0 5%;
  }
}


.hidden {
    display: none !important;
}

a,
button {
  cursor: pointer;
  user-select: none !important;
}

/* rounded corners class management stuff */

.rounded {
  border-radius: var(--bs-border-radius);
}
.shadowed-lightspread {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15) !important;
}
.shadowed-soft {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) !important;
}
.shadowed-medium {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5) !important;
}
.shadowed-hard {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) !important;
}

/* bg primary color */
.bg-primary {
  background-color: var(--primary) !important;
}

/* Profile picture */
.pfp {
  border-radius: 50%;
  width: 35px;
}

/* blog article styling */

.card-title {
    font-weight: 600;
}

.card-author {
    font-weight: 500;
}

.card-date {
    font-weight: 400;
}

.card-text {
    /* not empty ? */
    font-weight: 300;
}

.card-footer {
    font-weight: 400;
}

.activate-article {
    border: none;
    background-color: rgba(0,0,0,0);
}

.card-pads {
    padding: 1em;
}

.p-2 {
  padding: 1.2em !important;
}
/* Margin cancellation based on North, East South, West naming convention :) */
.mn-none {
  margin-top:0 !important;
}
.me-none {
  margin-right:0 !important;
}
.ms-none {
  margin-bottom:0 !important;
}
.mw-none {
  margin-left:0 !important;
}