/* vars */

:root {
    --bs-border-radius: 20px;
    --bs-font-sans-serif: "Lexend", system-ui, -apple-system, "Segoe UI", sans-serif;
    
    --primary: #339961;
}

/* Templating and fixes */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

section {
    margin-bottom: 10vh;
}

.navbar {
    z-index: 100 !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) !important;
}

@media screen and (max-width: 768px) {
    section {
        margin-bottom: 5vh;
        padding: 0 5%;
    }
}

a, button {
    cursor: pointer;
    user-select: none !important;
}


/* rounded corners class management stuff */

.rounded {
    border-radius: var(--bs-border-radius)
}
.shadowed-soft {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) !important;
}
.shadowed-medium {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5) !important;
}
.shadowed-hard {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) !important;
}

/* bg primary color */
.bg-primary {
    background-color: var(--primary) !important;
}

