#results {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3vh;
    box-sizing: border-box;
}

.result {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    width: 50%;
    margin-bottom: 12px;
    background-color: #f9f9f9;
}

.result a {
    margin-top: 10px;
}

.pandaCare {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pandaCare > div {
    position: relative;
    width: 20vw;
    /* height: 100%; */
    aspect-ratio: 1;
    background: url("../../media/images/pandas/panda-laptop.png");
    /* background: url("https://i5.walmartimages.com/asr/b3d573c2-fb35-4e3b-bd0d-ee30df8243c5.f9a884c1b693ab4ee1a3e2da24e069a1.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF") no-repeat center; */
    background-size: contain;
}

.pandaCare > div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bs-body-bg));
    pointer-events: none;
    border-radius: inherit;
    /* opacity: 0.5; */
}

@media (max-width: 768px) {
    .pandaCare > div {
        width: 70vw;
    }
}