.hero {
  padding: 12vh 0 !important;
  position: relative;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.overlayPanda {
  --width: 200px;

  width: var(--width);
  position: absolute;
  bottom: calc(-0.32 * var(--width));
  left: 10%;
  pointer-events: none;
  user-select: none;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 768px) {
  .overlayPanda {
    /* --width: 120px; */
    --width: 30vw;

    width: var(--width);
    left: 5%;
    /* transform: rotate(90deg); */
  }
}
